<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Gestion-Accueil{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="" />
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="left-sidebar is-preload">
    <div id="page-wrapper">

    {% block header %}{% endblock %}
    {% block login %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </div>
</body>
</html>
