{% extends 'layout.html.twig' %}
{% block body %}

    <!-- Intro -->
    <section id="intro" class="container">
        <footer>
            <ul class="actions">
                <li><a href="{{ path('customers_index') }}" class="button large">Nouveau client</a></li>
{#                <li><a href="#" class="button alt large">Learn More</a></li>#}
            </ul>
        </footer>
    </section>


{% endblock %}