{% extends 'layout.html.twig' %}
{% block body %}
    <!-- Intro -->
    <section id="intro" class="container">
        <div class="row">
            <a href="#">
                <div class="col-4 col-12-medium">
                    <section class="first">
                        <i class="icon solid featured fa-cog"></i>
                        <header>
                            <h2>Keep Connection</h2>
                        </header>
                        <p>Documentation sur les pannes et le réseau keep</p>
                    </section>
                </div>
            </a>
            <a href="{{ path('customers_index') }}">
                <div class="col-4 col-12-medium">
                    <section class="middle">
                        <i class="icon solid featured alt fa-bolt"></i>
                        <header>
                            <h2>Clients</h2>
                        </header>
                        <p>Documentation sur le réseau de la liste clients</p>
                    </section>
                </div>
            </a>
            <div class="col-4 col-12-medium">
                <section class="last">
                    <i class="icon solid featured alt2 fa-star"></i>
                    <header>
                        <h2>Autres</h2>
                    </header>
                    <p>Documentation sur les pannes et le réseau autre</p>
                </section>
            </div>
        </div>
    </section>

{% endblock %}