<article class="box post" id="box-post">
    {{ form_start(form) }}
        {{ form_row(form.document, { 'id': 'editor' }, {'attr': {'class': 'editor'}}) }}
        <button class="btn alt2">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</article>







