{% extends 'base.html.twig' %}

{% block title %}Edit Documentation{% endblock %}

{% block body %}
    <h1>Edit Documentation</h1>

    {{ include('documentation/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('customers_index') }}">back to list</a>#}

    {{ include('documentation/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/inline/ckeditor.js"></script>
{% endblock %}
