{% extends 'layout.html.twig' %}

{% block title %}New Documentation{% endblock %}

{% block body %}

    {{ dump() }}
    <section id="main">
        <div class="container">
            <se class="row">
                <div class="col-4 col-12-medium">

                    <!-- Sidebar -->
                    <a href="{{ path('homepage') }}">
                        <section class="box">
                            <header>
                                <h3>Accueil</h3>
                            </header>
                        </section>
                    </a>
                    <section class="box">
                        <header>
                            <h3>Liste clients</h3>
                        </header>
                        <ul class="divided">
                            {% for i in 0..10 %}
                                <li><a href="#">Sed et blandit consequat sed</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                </div>
                <div class="col-8 col-12-medium imp-medium">

    {{ include('documentation/_form.html.twig') }}

{#    <a href="{{ path('documentation_index') }}">back to list</a>#}
    </div>
</section>
{% endblock %}
