{% extends 'base.html.twig' %}

{% block title %}Edit UserSociety{% endblock %}

{% block body %}
    <h1>Edit UserSociety</h1>

    {{ include('user_society/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_society_index') }}">back to list</a>

    {{ include('user_society/_delete_form.html.twig') }}
{% endblock %}
