{% extends 'base.html.twig' %}

{% block title %}New UserSociety{% endblock %}

{% block body %}
    <h1>Create new UserSociety</h1>

    {{ include('user_society/_form.html.twig') }}

    <a href="{{ path('user_society_index') }}">back to list</a>
{% endblock %}
